<barra-superior></barra-superior>
<div class="row white">

    <div class="col s12" >
        <h4>Detalle de Producto</h4>
    </div>

    <div id="Productos">
        <div class="col s12" *ngFor="let item of productos">
          <div class="card">
            <div class="card-image">
              <img class="center-align" src="../assets/{{item.imagen}}">
            </div>
            <div class="card-content">
              <p class="left-align">{{item.nombre}}</p>
              <p onloadedmetadata=""class="left-align">Precio: ${{item.precio}}</p>
              <p class="left-align">Unidades disponibles: {{item.cantidad}}</p>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn left blue" href="/catalogo">Volver</a>
            </div>
          </div>
        </div>
      </div>

</div>
