<div class="row white box center">
    <form (ngSubmit)="enviarForm(f)" #f="ngForm">

        <div class="col s3"></div>
        <div class="col s6">
          <div class="row">
            <div class="input-field col s12">
              <label for="email-input" data-error="wrong" data-success="right">Dirección correo electrónico</label>
              <input type="email" class="form-control" id="email-input" ngModel name="email" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
            </div>
            <div class="input-field col s12">
              <label for="password-input">Contraseña</label>
              <input type="password" class="form-control" id="password-input" ngModel name="password" required>
            </div>
            <div class="col s12">
              <button type="submit" class="waves-effect waves-light btn">Enviar</button>
            </div>
          </div>
        </div>
        <div class="col s3"></div>

    </form>
</div>
